@import url(https://fonts.googleapis.com/css?family=Maitree:400,700);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

/* General styles */
body {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Maitree', serif;
    color: #fff;
    background: #efe9dd;
}
/*Preloader css*/

#loading{
    background-color: #d14149;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9999;

}
.object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    left: 65px;
    top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}
.object:nth-child(2n+0) {
    margin-right: 0px;

}
#object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four {
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#object_five {
    -webkit-animation: object_five 2s infinite;
    animation: object_five 2s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
#object_six {
    -webkit-animation: object_six 2s infinite;
    animation: object_six 2s infinite;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
#object_seven {
    -webkit-animation: object_seven 2s infinite;
    animation: object_seven 2s infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
#object_eight {
    -webkit-animation: object_eight 2s infinite;
    animation: object_eight 2s infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#object_big{

    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    -webkit-animation: object_big 2s infinite;
    animation: object_big 2s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}


@-webkit-keyframes object_big {
    50% { -webkit-transform: scale(0.5); }

}

@keyframes object_big {
    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }

}

@-webkit-keyframes object_one {
    50% { -webkit-transform: translate(-65px,-65px)  ; }

}

@keyframes object_one {
    50% {
        transform: translate(-65px,-65px) ;
        -webkit-transform: translate(-65px,-65px) ;
    }

}


@-webkit-keyframes object_two {
    50% { -webkit-transform: translate(0,-65px) ; }
}

@keyframes object_two {
    50% {
        transform: translate(0,-65px) ;
        -webkit-transform: translate(0,-65px) ;
    }

}

@-webkit-keyframes object_three {
    50% { -webkit-transform: translate(65px,-65px) ; }
}

@keyframes object_three {
    50% {
        transform: translate(65px,-65px) ;
        -webkit-transform: translate(65px,-65px) ;
    }
}

@-webkit-keyframes object_four {

    50% { -webkit-transform: translate(65px,0) ; }

}

@keyframes object_four {
    50% {
        transform: translate(65px,0) ;
        -webkit-transform: translate(65px,0) ;
    }

}

@-webkit-keyframes object_five {

    50% { -webkit-transform: translate(65px,65px) ; }

}

@keyframes object_five {
    50% {
        transform: translate(65px,65px) ;
        -webkit-transform: translate(65px,65px) ;
    }

}

@-webkit-keyframes object_six {

    50% { -webkit-transform: translate(0,65px) ; }

}

@keyframes object_six {
    50% {
        transform:  translate(0,65px) ;
        -webkit-transform:  translate(0,65px) ;
    }

}

@-webkit-keyframes object_seven {

    50% { -webkit-transform: translate(-65px,65px) ; }

}

@keyframes object_seven {
    50% {
        transform: translate(-65px,65px) ;
        -webkit-transform: translate(-65px,65px) ;
    }

}

@-webkit-keyframes object_eight {

    50% { -webkit-transform: translate(-65px,0) ; }

}

@keyframes object_eight {
    50% {
        transform: translate(-65px,0) ;
        -webkit-transform: translate(-65px,0) ;
    }

}

/*End off Preloader*/


h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
}
h1{font-size: 70px;}
h2 {font-size: 36px;letter-spacing:1px;}
h3 {font-size: 24px;}
/*img {width: 50%;}*/
a,button{outline: 0 !important;}
a:hover,a:focus{ text-decoration: none}

/* Background Transition */
.classic_btn,.info_btn,.social .fa {
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
}

/* Header */
header{background: url(../img/piza31.jpg)no-repeat;background-size: 100% 100%; color: #f1f1f1;overflow: hidden;}
nav.navbar.bootsnav {
    background-color: #444;
    border: 0 none;
}
.logo {
    width: 160px;
}
.attr-nav {
    margin-right: 105px;
}
.side-menu .fa {
    color: #fff;
    font-size: 28px;
}
.side .widget ul.link li a:hover,.side .widget ul.link li a:focus {
    color:#D1B980;
}

/* Banner */
.banner {
    margin-top: 67px;
}
.banner > h3 {
    font-size: 32px;
    letter-spacing: 16px;
    text-align: center;
    color: #f1f1f1;
}
.banner h1 {
    text-align: center;
    color:#f1f1f1
}
.inner_banner {
    margin-left: 170px;
    margin-top: 180px;
}
.banner_content {
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin-right: 20px;
    width: 330px;
    padding-top:60px;
}
.banner_content p {
    margin-bottom: 15px;
}
.stamp {
    float: left;
    width: 160px;
    height: 160px;
}
header .caption {
    color: #d79c57;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 28px;
    text-transform: uppercase;
}

/* First Secition */
/* Feature */
.feature{background: url(../img/piza51.jpg)no-repeat;background-size: 100% 100%;height: 360px;overflow:hidden;margin-top: 100px;}
.shack_burger {
    float: right;
    margin-right: 20px;
    width: 255px;
}
.chicken {
    display: block;
    margin: 22px auto 0;
    width: 120px;
}
.shack_burger > h2 {
    margin-bottom: 20px;
    text-align: center;
}
.feature .caption {
    bottom: 0;
    color: #f1f1f1;
    font-size: 12px;
    line-height: 12px;
    left: 30px;
    position: absolute;
}
/* singnature */
.signature{background: url(../img/piza8.jpg)no-repeat;background-size: 100% 100%;height: 360px;padding: 0 18px 18px;margin-top:100px;}
.shape {
    background: linear-gradient(#ad021d, #c72937) repeat scroll 0 0;
    height: 116px;
    width: 136px;
    position: relative;
}
.shape:after {
    border-bottom: 20px solid transparent;
    border-left: 68px solid #c72937;
    border-right: 68px solid #c72937;
    bottom: -20px;
    content: "";
    position: absolute;
}
.shape .flaticon:before {
    display: block;
    font-size: 50px;
    height: 65px;
    margin: 0;
    padding-top: 34px;
    text-align: center;
    width: 100%;
}
.shape > p {
    font-size: 17px;
    font-weight: bold;
    padding: 2px 10px;
    text-align: center;
    text-transform: uppercase;
}
.signature_content {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 4px;
    margin-top: 42px;
    width: 168px;
}

/* Second Secition */
/* Classic */
.classic{background: url(../img/piza2.jpg)no-repeat;background-size: 100% 100%;margin-top:25px;height:360px;position:relative;overflow:hidden;}
.classic_btn {
    background: #dc9e15 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 18px;
    padding: 9px 13px 9px 18px;
    text-transform: uppercase;
    position:relative;
}
.classic_btn:hover,.classic_btn:focus {
    background: #c58e13 none repeat scroll 0 0;
    color: #fff;
}
.classic_btn:after {
    content:"";
    position:absolute;
    border-top:18px solid #dc9e15;
    border-bottom:18px solid #dc9e15;
    border-right:10px solid transparent;
    right:-10px;
    top:0;

    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
}
.classic_btn:hover:after {
    border-top:18px solid #c58e13;
    border-bottom:18px solid #c58e13;
}
.classic .overlay {
    background: rgba(147, 79, 50, 0.93) none repeat scroll 0 0;
    bottom: 0;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 26px 2px;
    position: absolute;
}
.classic .overlay p {
    margin-bottom: 20px;
}
/* Small Carousel */
#small_carousel{margin-top:25px;}
#small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img{
    height: 360px;
}
#small_carousel .carousel-caption {
    left: 35px;
    padding: 0;
    right: 35px;
    top: 50px;
}
#small_carousel .carousel-indicators {
    margin-bottom: 2px;
}
#small_carousel .carousel-indicators > li {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border: 0 none;
    height: 11px;
    margin: 0 2px;
    width: 11px;
}
#small_carousel .carousel-indicators > li.active {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
}
#small_carousel .carousel-caption > h3 {
    text-align: left;
}
#small_carousel hr {
    border-color: rgba(255, 255, 255, 0.5);
    float: left;
    margin: 10px 0 15px;
    width: 240px;
}
.nutrition {
    margin: 0;
}
.nutrition > li {
    float: left;
    margin-bottom:20px;
    width:100%;
}
.nutrition a {
    color:#fff;
}
.nutrition a:hover,.nutrition a:focus {
    color:#ccc;
}
.nutrition .flaticon {
    display: inline-block;
    float: left;
    margin-right: 18px;
}
.nutrition .flaticon:before {
    font-size: 25px;
    margin:0;
}
.nutrition p {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    float:left;
}
/* Info Button */
.info_btn:before {
    border-bottom: 15px solid #d14149;
    border-left: 8px solid transparent;
    border-top: 15px solid #d14149;
    content: "";
    left: -8px;
    position: absolute;
    top: 0;

    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
}
.info_btn {
    background: #d14149 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    left: -3px;
    padding: 6px 20px;
    position: absolute;
    text-transform: uppercase;
    top: -3px;
    z-index: 1;
    text-shadow:none;
}
.info_btn:after {
    border-bottom: 15px solid #d14149;
    border-right: 8px solid transparent;
    border-top: 15px solid #d14149;
    content: "";
    position: absolute;
    right: -8px;
    top: 0;

    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
}
.info_btn:hover,.info_btn:focus {
    background: #b83a41 none repeat scroll 0 0;
    color: #fff;
}
.info_btn:hover:before,.info_btn:focus:before {
    border-bottom: 15px solid #b83a41;
    border-top: 15px solid #b83a41;
}
.info_btn:hover:after,.info_btn:focus:after {
    border-bottom: 15px solid #b83a41;
    border-top: 15px solid #b83a41;
}
.info_btn_shadow:before {
    border-bottom: 15px solid rgba(0, 0, 0, 0.15);
    border-left: 8px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.15);
    content: "";
    left: -8px;
    position: absolute;
    top: 0;
}
.info_btn_shadow {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    float: left;
    height: 30px;
    margin-left: 10px;
    margin-top: 55px;
    position: relative;
    width: 154px;
}
.info_btn_shadow:after {
    border-bottom: 15px solid rgba(0, 0, 0, 0.15);
    border-right: 8px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.15);
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
}

/* Third Secition */
/* Carousel */
#carousel {
    margin-top: 30px;
}
#carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
    height: 600px;
}
#carousel .carousel-caption {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    bottom: 62px;
    left: 64px;
    padding: 18px 15px 35px 35px;
    top: 60px;
    width: 450px;
}
#carousel .carousel-caption > h2 {
    font-size: 55px;
    line-height: 70px;
    text-align:left;
    letter-spacing: 0.1px;
}
#carousel .carousel-caption > h3 {
    font-size: 39px;
    text-align:left;
}
#carousel .carousel-caption > p {
    font-size: 18px;
    line-height: 26px;
    margin-right: 40px;
    margin-top: 28px;
    text-align: left;
}
#carousel .carousel-caption > .info_btn_shadow {
    margin-top: 65px;
    margin-left:8px;
}
#carousel .carousel-indicators {
    bottom: 2px;
}
#carousel .carousel-indicators > li {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.45);
    border: 0;
    margin: 0 8px;
}
#carousel .carousel-indicators > li.active {
    background: #d14149;
}


/* Forth Secition */
.menu, .drinks, .sides {
    margin-top: 35px;
    height: 190px;
    padding: 75px 0 40px;
}
.menu{background: url(../img/pizzabaner.jpg)no-repeat;background-size: 100% 100%;}
.drinks{background: url(../img/drinks_bg.jpg)no-repeat;background-size: 100% 100%;}
.sides{background: url(../img/pasta.jpg)no-repeat;background-size: 100% 100%;}
.inner_content {
    display: block;
    margin: 0 auto;
    width: 220px;
}
.forth_sec .flaticon:before {
    font-size: 65px;
}
.forth_sec .flaticon {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    float:left;
}
.forth_sec h2 {
    display: inline-block;
}
.inner_content .flaticon-burger,.inner_content .flaticon-food {
    margin-left: 15px;
}
/* Lock */
#lock{
    background: url(../img/lock_bg.jpg)no-repeat;
    background-size: 100% 100%;
    margin-top: 40px;
    min-height: 185px;
    padding: 66px 40px 40px;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}
#lock > h2 {
    font-family: "Maitree",serif;
    font-weight: bold;
    line-height: 36px;
}

/* Map */
#ourmaps{height:360px;}
/*.tooltip_address {
  margin: 0;
  color: #000;
  line-height: 16px;
}*/

/* Footer */
footer {
    background: #454646 none repeat scroll 0 0;
    padding-bottom: 42px;
}
footer h4 {
    font-family: 'Maitree', serif;
    margin-top: 20px;
    text-transform: capitalize;
}
/* Basic Info */
.basic_info, .contact_us, .subscribe {
    margin-top: 38px;
    overflow: hidden;
}
.footer_logo {
    margin-left: 20px;
    width: 160px;
}
.social {
    margin-top: 25px;
}
.social > li {
    padding: 0 8px;
}
.social .fa {
    background: #4d5154;
    border-radius: 100%;
    color: #bec5cd;
    display: block;
    font-size: 20px;
    height: 45px;
    padding-top: 13px;
    text-align: center;
    width: 45px;
}
.social .fa:hover,.social .fa:focus {
    background: #616976;
}
.footer-copyright {
    margin: 35px 0 45px;
    font-size: 13px;
    color:#fff;
}
.footer-copyright a{
    font-weight: 700;
    font-size: 15px;
    color:#fff;
    padding:0px 5px;
}
/* Contact Us and Subscribe */
.contact_us > a, .subscribe p {
    color: #85898d;
    display: block;
    line-height: 24px;
    margin: 16px 0;
}
.contact_us a:hover,.contact_us a:focus {
    text-decoration:underline;
}
address,.subscribe > p {
    color: #85898d;
    line-height: 24px;
}
.send_btn {
    padding: 10px 13px;
    background: #646667;
    color:#fff;
}
.subscribe > p {
    margin-bottom: 14px;
    width: 250px;
}
.form-control {
    background-color: #454646;
    border: 2px solid #646667;
    border-radius: 5px;
    box-shadow: none;
    color: #c8c8c8;
    height: 42px;
}
.form-control:focus {
    border: 2px solid #66afe9;
    box-shadow: none;
    outline: 0 none;
}
.form-control,.form-control::-moz-placeholder{
    color: #c8c8c8;
}
.form-control::-webkit-input-placeholder{
    color: #c8c8c8;
}
.form-control:-ms-input-placeholder{
    color: #c8c8c8;
}


/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: maroon;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}



/* media query for other devices */
@media (max-width: 1199px) {
    .attr-nav {
        margin-right: 0;
    }

    .inner_banner {
        margin-left: 100px;
    }

    .info_btn_shadow {
        margin-top: 45px;
        width: 144px;
    }
    .info_btn {
        padding: 6px 15px;
    }

    #lock > h2 {
        font-size: 34px;
        letter-spacing: 0;
    }

}

@media (max-width: 991px) {
    h2 {
        font-size: 30px;
    }
    .banner {
        margin-top: 80px;
    }
    .inner_banner {
        margin-left: 150px;
        margin-top: 50px;
    }

    .feature,.signature{
        height: 300px;
    }
    .shack_burger > h2 {
        margin-bottom: 15px;
    }
    .shack_burger > p {
        margin-left: 20px;
    }

    .shape {
        height: 106px;
        width: 106px;
    }
    .shape:after {
        border-bottom: 15px solid transparent;
        border-left: 53px solid #c72937;
        border-right: 53px solid #c72937;
        bottom: -15px;
    }
    .shape > p {
        font-size: 14px;
    }
    .signature_content {
        background: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        margin: 45px 0 0;
        padding: 10px;
        width: 100%;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
        height: 500px;
    }
    #carousel .carousel-caption {
        bottom: 50px;
        left: 40px;
        top: 40px;
        width: 350px;
    }
    #carousel .carousel-caption > h2 {
        font-size: 40px;
        line-height: 55px;
    }
    #carousel .carousel-caption > h3 {
        font-size: 30px;
    }
    #carousel .carousel-caption > .info_btn_shadow {
        margin-top: 30px;
    }
    #carousel .carousel-caption > p {
        margin-right: 20px;
    }

    .inner_content {
        width: 200px;
    }
    .forth_sec .flaticon {
        margin-right: 15px;;
    }

    #lock > h2 {
        font-size: 26px;
    }

    address ,.subscribe > p {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
    }


}

@media (max-width: 767px) {
    h1 {
        font-size: 50px;
    }
    .logo {
        width: 120px;
    }
    .banner {
        margin-top: 60px;
    }
    .banner > h3 {
        font-size: 26px;
        letter-spacing: 10px;
    }
    .inner_banner {
        margin: 30px 0 0;
        text-align: center;
    }
    .banner_content {
        display: inline-block;
        float: none;
        margin-right: 15px;
        padding: 0;
        text-align: left;
        width: 60%;
    }
    .stamp {
        display: inline-flex;
        float: none;
        height: 120px;
        width: 120px;
    }

    .feature {
        margin-top: 50px;
    }
    .classic .overlay {
        line-height: 16px;
        padding: 15px 15px 5px;
    }
    .classic .overlay p {
        margin-bottom: 10px;
    }

    .signature {
        margin-top: 25px;
    }
    .signature_content {
        width: 180px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
        height: 400px;
    }
    #carousel .carousel-caption {
        left: 20px;
        top: 20px;
        width: 365px;
        padding: 10px 15px;
    }
    #carousel .carousel-caption > p {
        margin-right: 0;
    }
    #carousel .carousel-caption > p,#carousel .carousel-caption > .info_btn_shadow {
        margin-top: 20px;
    }

    #lock {
        padding: 50px 40px 40px;
        line-height: 24px;
    }

}

@media (max-width: 479px) {
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
    .banner {
        margin-top: 40px;
    }
    .banner > h3 {
        font-size: 20px;
        letter-spacing: 8px;
    }
    .banner_content {
        width: 50%;
    }
    header .caption {
        margin-left: 15px;
    }

    .shack_burger {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        float: none;
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .chicken {
        margin: 0 auto;
    }
    .feature .caption {
        left: auto;
        right: 30px;
    }

    .classic,#small_carousel .carousel-inner > .item > a > img, #small_carousel .carousel-inner > .item > img{
        height: 300px;
    }
    #small_carousel .carousel-caption {
        left: 20px;
        right: 20px;
        top: 20px;
    }
    #small_carousel hr {
        width: 200px;
    }
    .info_btn_shadow {
        margin-top: 20px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
        height: 350px;
    }
    #carousel .carousel-caption {
        width: 250px;
        right: 20px;
    }
    #carousel .carousel-caption > h2 {
        font-size: 30px;
        line-height: 40px;
    }
    #carousel .carousel-caption > h3 {
        font-size: 22px;
    }
    #carousel .carousel-caption > p {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0 0;
    }

    #lock > h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #map {
        height: 300px;
    }

}
