{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pizza Planeta {% endblock %}
{% block content %}
{% include 'head.html' %}
<link rel="stylesheet" href="{% static 'css/style_us.css' %}">
  <div class="team-section">
    <span class="border"></span>
    <h1> Nuestro equipo </h1>
    <div class="ps">
      <a href="#p1"> <img src="{% static 'img/vic.png' %}" width="200" height="180" alt=""> </a>
      <a href="#p2"> <img src="{% static 'img/kassb.png' %}" width="200" height="180" alt=""> </a>
      <a href="#p3"> <img src="{% static 'img/alvarado.png' %}" width="200" height="180" alt=""> </a>
      <a href="#p4"> <img src="{% static 'img/ferC.png' %}" width="200" height="180" alt=""> </a>
      <a href="#p5"> <img src="{% static 'img/jose.png' %}" width="200" height="180" alt=""> </a>
    </div>
    <div class="section" id="p1">
      <span class="name"> Victor Blanco Rocha </span>
      <span class="border"></span>
      <p>
        Director del proyecto y desarrollador Backend, con conocimientos en tecnologias como: Python, C#, Java, JavaScript y Ruby

      </p>
    </div>
    <div class="section" id="p2">
      <span class="name"> Kassandra Ilhuicatzi Campos </span>
      <span class="border"></span>
      <p>
        Desarrolladora de bases de datos, Experta en el diseno, desarrollo e implementacion de bases de datos y la prueba y revision de la base de datos.
      </p>
    </div>
    <div class="section" id="p3">
      <span class="name"> Jesus Alvarado Soto </span>
      <span class="border"></span>
      <p>
        UX Designer
        Experto en Diseno de interfaces de usuario y experiencia de usuario en la apariencia visual del artefacto digital,
        graduado del Instituto Tecnologico de Tijuana.
      </p>
    </div>
    <div class="section" id="p4">
      <span class="name"> Fernando Cisneros Aguilar </span>
      <span class="border"></span>
      <p>
        Desarrollador FrontEnd
        Experto en diseño web usando HTML, CSS y JS, graduado del Instituto Tecnologico de Tijuana.
      </p>
    </div>
    <div class="section" id="p5">
      <span class="name"> Jose Hernandez Gamboa </span>
      <span class="border"></span>
      <p>
        Analista de Sistemas
        Graduado del Instituto Tecnologico de Tijuana, Experto profesional en analisis de problemas y descripcion de soluciones mediante sistemas informáticos.
        Diseñador de soluciónes con base en el análisis y darle al usuario nuevas opciones de uso.
      </p>
    </div>

  </div>
  <div class="team-section">
    <span class="border"></span>
    <h1> Nuestra mision </h1>
    <a href=""> <img src="{% static 'img/pizzaplanet.png' %}" width="200" height="180" alt=""> </a>
    <span class="border"></span>
    <p style="color: black;">
      <strong>
      Ofrecer una excelente calidad de servicios y producto y mostrar eficiencia, efectividad y adaptabilidad a la competencia.
      </strong>
    </h4>
    </p>
  </div>
{% endblock %}
