{% load staticfiles %}
{% load custom_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {% block head_title %} {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootsnav.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  </head>
  <body>

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer>
        <!-- Container -->
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                    <div class="subscribe">
                        <h4>Subscribe now</h4>
                        <p>Subscribe to the newsletter and
                            get some crispy stuff every week.</p>

                        <form role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="email" class="form-control" id="em" placeholder="Enter your e-mail here">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn send_btn">
                                            <i class="glyphicon glyphicon-send"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                    <div class="contact_us">
                        <h4>Contact Us</h4>
                        <a href="">DreamTeam@yopmail.com</a>

                        <address>
                            Calzada Tecnologico<br />
                            58200 <br />
                            Mexico <br />
                        </address>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12 pull-right">
                    <div class="basic_info">

                        <ul class="list-inline social">
                            <li><a href="" class="fa fa-facebook"></a></li>
                            <li><a href="" class="fa fa-twitter"></a></li>
                            <li><a href="" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="footer-copyright">
                            <p class="wow fadeInRight" data-wow-duration="1s">
                                Made with
                                <i class="fa fa-heart"></i>
                                by
                                <a target="_blank" href="http://bootstrapthemes.com">Bootstrap Themes</a> <br />
                                2016. All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <!--
    <script type="text/javascript">
      (()=>{
        $.ajax({
          type:'GET',
          url: "http://127.0.0.1:8000/wsProductos",
          contentType: 'application/json',
          dataType : 'json',
          success:function(response){
            j=0;
            console.log(j);
            if (j < 0) {
            j=0;
            }
            for(j;j<=(response.length-1);j++) {
              $('#Test').append(
                "<tr><td>" + response[j]["fields"]["nombre"] + "</td>" +
                "<td>" + response[j]["fields"]["categoria"] + "</td>" +
                "<td>" + response[j]["fields"]["precio"] + "</td>" +
                "<td>" + response[j]["fields"]["proveedor"] + "</td>" +
                "<td>" + response[j]["pk"] + "</td>" +
                "<td>" + response[j]["pk"] + "</td>" +
                "</tr>"
              )
            }
          }
        });
      })()
    </script>
  -->
    <script type="text/javascript">
        var map;
        $(document).ready(function () {
            map = new GMaps({
                el: '#ourmaps',
                lat: 3.139003,
                lng: 101.686855,
                scrollwheel: false
            });


            map.getElevations({
                locations: [[3.139003, 101.686855]],
                callback: function (result, status) {
                    if (status == google.maps.ElevationStatus.OK) {
                        for (var i in result) {
                            map.addMarker({
                                lat: result[i].location.lat(),
                                lng: result[i].location.lng(),
                                infoWindow: {
                                    content: '<address class="tooltip_address"><b>Junky Burger</b><br />Jalan Awan Hijau, Taman OUG<br />58200 Kuala Lumpur <br />Malaysia <br /></address>'
                                }
                            });
                        }
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
