{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Bebidas{% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  li {
    color:black;
  }
</style>
<div class="secondary-nav-container container">
  <div class="row">
    <ul class="list-group">
    {% for bebida in bebidas %}
    <li class="col-md-2 list-group-item">
       <img src="{{bebida.imagen.url}}" height="125" width="180">
       <br>
       <br>
       <a href="{% url 'Producto_detalle' bebida.id %}"> <h6> {{bebida.nombre}} </h6> </a>
       <p> {{bebida.descripcion}} </p>
       <hr>
       <p> Desde: $ {{bebida.precio}} </p>
     </li>
    {% endfor %}

    </ul>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
