{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }
  th,td {
    color: black;
  }
  thead {
    color: black;
  }
</style>
<!-- <link href="{% static 'css/profile.css' %}" rel="stylesheet"> -->
   <div class="row">
        <div class="col-12">
          <h1>Borrar alumnos</h1>
        </div>
      </div>
    </div>
    <!-- DataTables -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-users"></i> Borrar producto </div>

<br><br>
<div class="container">
 <div class="well span8 offset2">
        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".cyruxx">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>
        <div class="row-fluid user-infos cyruxx">
            <div class="span10 offset1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Borrar productos </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="span3">
                                <img class="img-circle" src="{{ object.imagen.url}}" alt="User Pic">
                            </div>
                            <div class="span6">
                                <strong> Producto </strong><br>
						    <form action="" method="post">{% csrf_token %}
							    <p>Are you sure you want to delete "{{ object }}"?</p>
							    <input class="btn btn-danger"  type="submit" value="Confirm" />
							</form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".alexanderMahrt">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>



                </div>
            </div>
        </div>
    </div>
</div>






      </div>
    </div>
{% endblock %}
