{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pizza Planeta {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  span {
    color: black;
  }
</style>
	<div style="text-align:left;text-decoration:underline"> <h3 style="color: black;"> Tu Carro </h3> </div>
	<div class="cart-container">
		{% for item in cart %}
		<div class="cart-item">
			<div class="cart-listing">
				<span class="title"> <h4> {{ item.producto }} </h4> </span>
			</div>
			<div class="cart-price">
				<span class="cart-quantity"> {{ item.cantidad }} x $ <span class="cart-value"> {{ item.producto.precio }} </span></span>
        <a class="btn btn-success" href="{% url 'add_to_cart' item.producto.pk %}"> <strong> + </strong> </a>
        <a class="btn btn-danger" href="{% url 'remove_from_cart' item.producto.pk %}"> <strong> - </strong> </a>
			</div>
		</div>
		{% empty %}
		<div>
      <h4 style="color: black;"> Tu carrito esta vacio </h2>
		</div>
		{% endfor %}
		<div class="cart_total">
			<h4 style="color: black;">Total: $ <span class="cart-value"> {{ total }} </span></h4>
    </div>
  </div>
  <a class="btn btn-success" href="{% url 'clean_cart' %}">Limpiar carrito </a> <br> <br>
  <button type="button" style="float: left" class="btn btn-success btn" data-toggle="modal" data-target="#myModal{{p.id}}"> Realizar pedido </button>
  <br>
  <br>
  <br>
  {% include "space.html" %}
  <div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Pago en efectivo</h4>
		      </div>
		      <div class="modal-body" id="aqui">
		   <span> Tu pedido llegara en {{ mtime.hour }} horas,{{ mtime.minute }} minutos y {{ mtime.second }} segundos <br>
         Se te cobrara el monto de {{ total }} al recibir tu pedido </span> <div class="center"><a class="btn btn-success btn-lg" href="{% url 'checkout' %}"> Aceptar</a></div>

		     </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
    </div>

{% endblock %}
