{% extends 'base.html'%}
{% load custom_tags %}
{% load staticfiles %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }
  th,td {
    color: black;
  }
  thead {
    color: black;
  }
</style>
<div class="row">
        <div class="col-12">
          <h1>Pedido</h1>
        </div>
      </div>
    </div>
    <!-- DataTables -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-users"></i> Pedido de </div>

<br><br>
<div class="container">
 <div class="well span8 offset2">
        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".cyruxx">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>
        <div class="row-fluid user-infos cyruxx">
            <div class="span10 offset1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos generales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="span3">
                                <img class="img-circle"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                     alt="User Pic">
                            </div>
                            <div class="span6">
                                <strong> Cliente</strong><br>
                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                    <tr>
                                        <td> Nombre:</td>
                                        <td> {{ object.user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td> Apellido:</td>
                                        <td> {{ object.user.last_name }}</td>
                                    </tr>

                                      <tr>
                                        <td> Telefono</td>
                                        <td> {{ object.user.usuario.telefono }} </td>
                                    </tr>
                                    <tr>
                                        <td> Correo:</td>
                                        <td> {{ object.user }} </td>
                                    </tr>
                                    <tr>
                                        <td> Edad: </td>
                                        <td> {{ object.user.usuario.edad }} </td>
                                    </tr>
                                    <tr>
                                        <td> Direccion: </td>
                                        <td> {{ object.user.usuario.direccion }} </td>
                                    </tr>
                                    <tr>
                                        <td> Fecha del pedido: </td>
                                        <td> {{ object.order_date }} </td>
                                    </tr>
                                    <tr>
                                        <td> Productos: </td>
                                        <td>
                                          {% for i in productos %}
                                            {{ i.producto }} x {{ i.cantidad }}: {% sumar i.cantidad i.producto.precio %} <br>
                                          {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                      <td> Total: </td>
                                      <td> {{ object.total }}</td>
                                  </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn  btn-primary" type="button"
                                data-toggle="tooltip"
                                data-original-title="Send message to user"><i class="icon-envelope icon-white"></i></button>
                        <span class="pull-right">
                            <button class="btn btn-warning" type="button"
                                    data-toggle="tooltip"
                                    data-original-title="Edit this user"><i class="icon-edit icon-white"></i></button>
                            <button class="btn btn-danger" type="button"
                                    data-toggle="tooltip"
                                    data-original-title="Remove this user"><i class="icon-remove icon-white"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".alexanderMahrt">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>



                </div>
            </div>
        </div>
    </div>
</div>






      </div>
    </div>
{% endblock %}
