<tbody>
  {% for item in variable %}
  <tr>
    <td> {{ item.tipo }} </td>
    <td> <a href="/update_categoria/{{ item.pk }}" style="color:black"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
Modificar</a> </td>
    <td> <a href="/delete_categoria/{{ item.pk }}"style="color:black"><i class="fa fa-eraser" aria-hidden="true"></i>
Borrar </a> </td>

  </tr>
  {% endfor %}
</tbody>
