{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Detalles del producto {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  li {
    color:black;
  }
</style>

<div class="secondary-nav-container container">
  <div class="row">
<div class="card mx-auto text-center" style=" color:#333!important">
  <img class="card-img-top mx-auto"  src="{{producto.imagen.url}}" alt="Card image" height="405" width="400">
  <div class="card-body" style = "margin-top:10px;">
    <h4 class="card-title">{{producto.nombre}}</h4>
    <p class="card-text">{{producto.descripcion}}</p>
    <p class="card-text">precio: $ {{producto.precio}}</p>
    <a href="{% url 'add_to_cart' producto.pk %}" class="btn btn-primary" style="margin-bottom:10px;"> Agegar al carrito </a>
  </div>
</div>

</div>
</div>

{% endblock %}
