{% load staticfiles %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <br>
      <a href="{% url 'index' %}"><img src="{% static 'img/pizzaplanet.png' %}" width="130px" height="70px" style="position:relative;top:-10px"></a>
    </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if request.user.is_superuser %}
            <li class="nav-item dropdown">
              <br>
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Productos </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'producto_create' %}"> Crear </a> <br> <br>
                <div class="dropdown-divider"> </div>
                <a class="dropdown-item" href="{% url 'update' %}"> Actualizar </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <br>
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Proveedores </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'proveedor_create' %}"> Crear </a> <br> <br>
                <a class="dropdown-item" href="{% url 'updateP' %}"> Actualizar </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <br>
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'categoria_create' %}"> Crear </a> <br> <br>
                <a class="dropdown-item" href="{% url 'updateC' %}"> Actualizar </a>
              </div>
            </li>
            <li> <br> <a href="{% url 'updatePe' %}"> Pedidos </a></li>
          {% else %}
            <li> <br> <a href="{% url 'promociones' %}"> Promociones </a></li>
            <li> <br> <a href="{% url 'productos' %}"> Pizzas </a></li>
            <li> <br> <a href="{% url 'pastas' %}"> Pastas </a></li>
            <li> <br> <a href="{% url 'Postres' %}"> Postres </a></li>
            <li> <br> <a href="{% url 'bebidas' %}"> Bebidas </a></li>
            <li> <br> <a href="">  </a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <li> <br> <a href="{% url 'login' %}"> Login </a></li>
          {% else %}
            {% if not request.user.is_superuser %}
              <li> <br> <a href="{% url 'cart' %}"><img src="{% static 'img/img_cart.png' %}" width="80px" height="40px" style="position:relative;top:-10px"></a> </li>
            {% endif %}
            <li> <br> <a href="{% url 'logout' %}"> Salir </a></li>
          {% endif %}
        </ul>
      </div>
  </div>
</nav>
