{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pizza Planeta</title>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />

        <!-- Animate -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Bootsnav -->
        <link rel="stylesheet" href="{% static 'css/bootsnav.css' %}">
        <!-- Color style -->
        <link rel="stylesheet" href="{% static 'css/color.css' %}">

        <!-- Custom stylesheet -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body data-spy="scroll" data-target="#navbar-menu" data-offset="100">

        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_five"></div>
                    <div class="object" id="object_six"></div>
                    <div class="object" id="object_seven"></div>
                    <div class="object" id="object_eight"></div>
                    <div class="object" id="object_big"></div>
                </div>
            </div>
        </div>
        <!--End Preloader -->
        <!-- Navbar -->
        <nav class="navbar navbar-default bootsnav no-background navbar-fixed black">
            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="widget">
                    <h6 class="title">Menu</h6>
                    <ul class="link">

                        <li><a href="{% url 'productos' %}">Servicios</a></li>
                        <li><a href="{% url 'productos' %}">Productos</a></li>
                        <li><a href="{% url 'about_us' %}"> Nosotros </a></li>
                    </ul>
                </div>
            </div>
            <!-- End Side Menu -->
        </nav>

        <!-- Header -->
        <header id="hello">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="banner">
                            <h3>-Bienvenido-</h3>
                            <h1>Pizza Planeta</h1>

                            <div class="inner_banner">
                                <div class="banner_content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar, ligula laoreet eleifend convallis, interdum imperdiet, erat erat viverra velit, accumsan tincidunt augue ligula commodo enim. </p>

                                </div>
                                <div class="stamp">
                                    <img src="" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Container end -->
            <p class="caption">*Limited Time Only</p>
        </header><!-- Header end -->

        <!-- Block Content -->
        <section id="block">
            <div class="container">

                <!-- First section -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="feature">
                            <div class="shack_burger">
                                <div class="chicken">

                                </div>

                                <h2>Especiales </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla justo. Vivamus gravida, felis non tempus commodo, risus odio auctor diam, eget pellentesque enim lorem et quam. </p>
                            </div>
                            <p class="caption">*Limited Time Only</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="signature">
                            <div class="shape">
                                <span class=""></span>
                                <p></p>
                            </div>
                            <div class="signature_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla justo. Vivamus gravida, felis non </p>
                            </div>
                        </div>
                    </div>
                </div><!-- first section end -->

                <!-- Second section -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="classic">
                            <a href="" class="classic_btn">clasica</a>

                            <div class="overlay">
                                <h3>Pizzas clasicas</h3>


                                <p class="overlay_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla justo. Vivamus gravida, felis non tempus commodo, risus odio auctor diam, eget pellentesque enim lorem et quam. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Carousel -->
                        <div id="small_carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#small_carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#small_carousel" data-slide-to="1"></li>
                                <li data-target="#small_carousel" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-caption">
                                <h3>Pizzas Originales</h3>
                                <hr />

                                <ul class="list-unstyled nutrition">
                                    <li><a href=""><span class="flaticon flaticon-protein"></span><p>Proteina - 33g</p></a></li>
                                    <li><a href=""><span class="flaticon flaticon-carbohydrate"></span><p>Carbohidratos - 46gm</p></a></li>
                                    <li><a href=""><span class="flaticon flaticon-calories"></span><p>Calorias - 750 kcal</p></a></li>
                                </ul>
                                <div class="info_btn_shadow">
                                    <a href="" class="info_btn">informacion & nutricion</a>
                                </div>
                            </div>

                            <!-- carousel inner -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{% static 'img/piza7.jpg' %}" alt="" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'img/piza7.jpg' %}" alt="" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'img/piza7.jpg' %}" alt="" />
                                </div>
                            </div><!-- carousel inner end -->
                        </div><!-- Carousel end-->
                    </div>
                </div><!-- second section end -->

                <!-- Third section -->
                <!-- Carousel -->
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- carousel inner -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% static 'img/piza6.jpg' %}" alt="Burger">

                            <div class="carousel-caption">
                                <h2>Veggies</h2>


                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla justo. Vivamus gravida, felis non tempus commodo, risus odio auctor diam, eget pellentesque enim lorem et quam. </p>

                                <div class="info_btn_shadow">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/piza6.jpg' %}" alt="Burger">

                            <div class="carousel-caption">
                                <h2>Veggies</h2>


                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla justo. Vivamus gravida, felis non tempus commodo, risus odio auctor diam, eget pellentesque enim lorem et quam. </p>
                                <div class="info_btn_shadow">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/piza6.jpg' %}" alt="Burger">

                            <div class="carousel-caption">
                                <h2>Veggies</h2>


                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla justo. Vivamus gravida, felis non tempus commodo, risus odio auctor diam, eget pellentesque enim lorem et quam. </p>
                                <div class="info_btn_shadow">

                                </div>
                            </div>
                        </div>
                    </div><!-- carousel inner end -->
                </div><!-- Carousel end-->

                <!-- Forth section -->
                <div class="row forth_sec">
                    <div class="col-sm-4">
                        <div class="menu">
                            <div class="inner_content">
                                <span class=""></span>
                                <a href="{% url 'productos' %}"> <h2>menu</h2></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="drinks">
                            <div class="inner_content">
                                <span class=""></span>
                                <a href="{% url 'bebidas' %}"> <h2>Bebidas</h2> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sides">
                            <div class="inner_content">
                                <span class=""></span>
                                <a href="{% url 'pastas' %}"> <h2>menu</h2></a>
                            </div>
                        </div>
                    </div>
                </div><!-- forth section end -->
            </div>
        </section><!-- Block Content end-->
<br>
<br>

        <!-- Lock -->
        <!-- <section id="lock">
            <h2>SERVING MORE THAN JUST BURGERS SINCE 1998</h2>
            <p>Check out our opening hours and location address below.</p>
        </section> -->

        <!-- Map -->
        <div id="ourmaps"></div>

        <!-- Footer -->
        <footer>
            <!-- Container -->
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                        <div class="subscribe">
                            <h4>Subscribe now</h4>
                            <p>Subscribe to the newsletter and
                                get some crispy stuff every week.</p>

                            <form role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="em" placeholder="Enter your e-mail here">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn send_btn">
                                                <i class="glyphicon glyphicon-send"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                        <div class="contact_us">
                            <h4>Contact Us</h4>
                            <a href="">Dreamteam@yopmail.com</a>

                            <address>
                                Calzada Tecnologico<br />
                                58200 <br />
                                Mexico <br />
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-12 pull-right">
                        <div class="basic_info">

                            <ul class="list-inline social">
                                <li><a href="" class="fa fa-facebook"></a></li>
                                <li><a href="" class="fa fa-twitter"></a></li>
                                <li><a href="" class="fa fa-instagram"></a></li>
                            </ul>

                            <div class="footer-copyright">
                                <p class="wow fadeInRight" data-wow-duration="1s">
                                    Made with
                                    <i class="fa fa-heart"></i>
                                    by
                                    <a target="_blank" href="http://bootstrapthemes.com">Bootstrap Themes</a> <br />
                                    2016. All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- Container end -->
        </footer><!-- Footer end -->


        <!-- scroll up-->
        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div> <!-- End off scroll up-->

        <!-- JavaScript -->
        <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/bootsnav.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'js/api.js' %}"></script>
        <script src="{% static 'js/gmaps.min.js' %}"></script>

        <script type="text/javascript">
            var map;
            $(document).ready(function () {
                map = new GMaps({
                    el: '#ourmaps',
                    lat: 3.139003,
                    lng: 101.686855,
                    scrollwheel: false
                });


                map.getElevations({
                    locations: [[3.139003, 101.686855]],
                    callback: function (result, status) {
                        if (status == google.maps.ElevationStatus.OK) {
                            for (var i in result) {
                                map.addMarker({
                                    lat: result[i].location.lat(),
                                    lng: result[i].location.lng(),
                                    infoWindow: {
                                        content: '<address class="tooltip_address"><b>Junky Burger</b><br />Jalan Awan Hijau, Taman OUG<br />58200 Kuala Lumpur <br />Malaysia <br /></address>'
                                    }
                                });
                            }
                        }
                    }
                });

            });
        </script>


        <!--main js-->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
