{% extends 'base.html'%}
{% load staticfiles %}
{% load custom_tags %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }
    html,body {
     margin:0;
     padding:0;
     height:100%;
  }
  #container {
     min-height:100%;
     position:relative;
  }
  #header {
     background:#ff0;
     padding:10px;
  }
  #body {
     padding:10px;
     padding-bottom:60px;   /* Height of the footer */
  }
  #footer {
     position:absolute;
     bottom:0;
     width:100%;
     height:60px;   /* Height of the footer */
  }
  select {
    color: black;
  }
  th,td {
    color: black;
  }
  thead {
    color: black;
  }
</style>
<div class="busqueda">
  <form class="navbar-search pull-left" method="POST" action="/update_pedido/"> {% csrf_token %}
    <input type="text" name="buscalo" class="search-query" placeholder="Buscar">
    <div class="btn-group">
      <button class="btn btn-default" type="submit">Buscar</button>
    </div>
  </form>
</div>
<br>
<br>
<h1> Pedidos: </h1>
<center> <h4 style="color: black;"> Pedidos Recientes </h4> </center>
<div class="row">
  <div class="container">
    <table class="col-xs-2 col-xs-8 col-xs-2 table table-inverse mbr-editable-content" style="width: 100%">
      <thead class="thead-inverse">
        <tr>
          <th> Cliente </th>
          <th> Fecha </th>
          <th> Total </th>
          <th> Detalle </th>
        </tr>
      </thead>
      {% lista_pedidos %}
    </table>
  </div>
</div>
{% include "space.html" %}
{% endblock %}
