{% extends 'base.html'%}
{% load staticfiles %}
{% load custom_tags %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }
  th,td {
    color: black;
  }
  thead {
    color: black;
  }
</style>
<div class="busqueda">
  <form class="navbar-search pull-left" method="POST" action="/update_proveedor/"> {% csrf_token %}
    <input type="text" name="buscalo" class="search-query" placeholder="Buscar">
    <div class="btn-group">
      <button class="btn btn-default" type="submit">Buscar</button>
    </div>
  </form>
</div>
<br>
<br>
<h1> Proveedores: </h1>
<center> <h4 style="color: black;"> Proveedores Recientes </h4> </center>
<div class="row">
  <div class="container">
    <table class="col-xs-2 col-xs-8 col-xs-2 table table-inverse mbr-editable-content" style="width: 100%">
      <thead class="thead-inverse">
        <tr>
          <th> Nombre: </th>
          <th> Direccion: </th>
          <th> Telefono: </th>
          <th> Modificar </th>
          <th> Borrar </th>
        </tr>
      </thead>
      {% lista_proveedores %}
    </table>
  </div>
</div>
{% include "space.html" %}
{% endblock %}
