{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Login {% endblock %}
{% block content %}
<style>
ul.list-group:after {
clear: both;
display: block;
content: "";
}

.list-group-item {
  float: left;
  margin: 5px;
  padding: 10px 5px;
}

li {
  color:black;
}
label {
  color:black;
}
input {
  color:black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Add padding to containers */
#myContainer {
    padding: 16px;
    background-color: white;
    display: inline-block;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
</style>
{% include 'head.html' %}
<center>
<br>
<br>
<br>
<br>
<br>
<div id="myContainer">
  <form enctype="multipart/form-data" method="POST" action="" style=""> {% csrf_token %}
  <h3 style="color:black;"> Iniciar Sesion </h3>
  <table>
    <tbody>
      <tr>
        <th> <label for="id_username"> Email: </label> </th>
        <td> <input id="id_username" name="username" type="text"> </td>
      </tr>
      <tr>
        <th> <label for="id_password"> Contrasena: </label> </th>
        <td> <input id="id_password" name="password" type="password"> </td>
      </tr>
    </tbody>
  </table>
  <button style="color:black;" type="submit"> Iniciar Sesion </button>
  <br>
  <a href="{% url 'signup_view' %}">¿Aún no tienes cuenta? Registrate </a>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</center>
{% endblock %}
