{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }
  th,td {
    color: black;
  }
  thead {
    color: black;
  }
</style>
<div class="row">
        <div class="col-12">
          <h1>Modificar producto</h1>
        </div>
      </div>
    </div>
    <!-- DataTables -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-users"></i> Modificar producto</div>

<br><br>
<div class="container">
 <div class="well span8 offset2">
        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".cyruxx">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>
        <div class="row-fluid user-infos cyruxx">
            <div class="span10 offset1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modificar producto</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="span3">
                                <img class="img-circle"
                                     src="{{ object.imagen.url }}"
                                     width="250"
                                     height="200"
                                     alt="User Pic">
                            </div>
                            <div class="span6">
                                <strong> Producto </strong><br>
                               <h1> Modificar </h1>
									<form enctype="multipart/form-data" method="POST" action=""> {% csrf_token %}

									<table>
									  {{ form.as_table }}
									</table>
									<input class="btn  btn-primary" type="submit" value="Registrar">
									<input  class="btn btn-danger" type="reset" value="Reset" onClick="this.form.reset()" >
									</form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".alexanderMahrt">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>



                </div>
            </div>
        </div>
    </div>
</div>






      </div>
    </div>
{% endblock %}
