{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  li {
    color:black;
  }
</style>
<div class="secondary-nav-container container">
  <div class="row">
    <ul class="list-group">
      {% for pasta in pastas %}
      <li class="col-md-2 list-group-item">
         <img src="{{pasta.imagen.url}}" height="125" width="180">
         <br>
         <br>
         <a href="{% url 'Producto_detalle' pasta.id %}"> <h6> {{pasta.nombre}} </h6> </a>
         <p> {{pasta.descripcion}} </p>
         <hr>
         <p> Desde: $ {{pasta.precio}} </p>
       </li>
      {% endfor %}
    </ul>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
