<tbody>
  {% for item in variable %}
  <tr>
    <td> {{ item.user}} </td>
    <td> {{ item.order_date }} </td>
    <td> {{ item.total}} </td>
    <td> <a href="/detail_pedido/{{ item.pk }}" style="color:black"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
Detalle </a> </td>
  </tr>
  {% endfor %}
</tbody>
