{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Postres{% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  li {
    color:black;
  }
</style>
<div class="secondary-nav-container container">
  <div class="row">
    <ul class="list-group">
    {% for postre in postres %}
    <li class="col-md-2 list-group-item">
       <img src="{{postre.imagen.url}}" height="125" width="180">
       <br>
       <br>
       <a href="{% url 'Producto_detalle' postre.id %}"> <h6> {{postre.nombre}} </h6> </a>
       <p> {{postre.descripcion}} </p>
       <hr>
       <p> Desde: $ {{postre.precio}} </p>
     </li>
    {% endfor %}
    </ul>
  </div>
</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

{% endblock %}
