{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Promociones{% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  li {
    color:black;
  }
</style>
<center>
<div class="secondary-nav-container container">
  <!div class="row">
    <ul class="list-group">
<center>
     <li class="col-md list-group-item">
<center>
       <img src="{% static 'img/promo.jpg' %}" height="405" width="400">
       <br>
       <br>
       <a href=""> <h6> Promocion </h6> </a>
       <p> Todos los martes 2x1 ¡Aprovecha! </p>
       <hr>
       <p> Desde: $50.00 </p>
</center>
     </li>
     
    </center>
    
    
     
    </ul>
  </div>
</div>
</center>

{% endblock %}
