{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
  <style>

    label {
      color: black;
    }
    li {
      color:black;
    }
    input {
      color: black;
    }

    textarea {
      color: black;
    }

    li {
      color:black;
    }

    option {
      color: black;
    }

    select {
      color: black;
    }

  </style>
  <div class="row">
        <div class="col-12">
          <h1 style="color: black; padding-left: 100px;">Registrar proveedores</h1>
        </div>
      </div>
    </div>
    <!-- DataTables -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-users"></i> Registrar proveedores</div>

<br><br>
<div class="container">
 <div class="well span8 offset2">
        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".cyruxx">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>
        <div class="row-fluid user-infos cyruxx">
            <div class="span10 offset1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar proveedores </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="span3">
                                <img
                                     src="{% static 'img/supplier.png' %}"
                                     alt="User Pic"
                                     height="150" width="180">
                            </div>
                            <div class="span6">
                                <strong> Productos </strong><br>
                                 <form enctype="multipart/form-data" method="POST" action="" > {% csrf_token %}
									<h1> Registro de proveedores </h1>
									<table>
									{{ form.as_table }}
									</table>
									<br>
									<input class="btn  btn-primary" type="submit" value="Registrar">
									<input class="btn btn-danger" type="reset" value="Reset">
									</form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid user-row">
            <div class="span1">

            </div>

            <div class="span1 dropdown-user" data-for=".alexanderMahrt">
                <i class="icon-chevron-down text-muted"></i>
            </div>
        </div>



                </div>
            </div>
        </div>
    </div>
</div>

      </div>
    </div>
{% endblock %}
