<tbody>
  {% for item in variable %}
    <tr>
      <td> {{ item.nombre}} </td>
      <td> {{ item.categoria }} </td>
      <td> {{ item.precio}} </td>
      <td> {{ item.proveedor }} </td>
      <td> <a href="/update_producto/{{ item.pk }}" style="color:black"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    Modificar</a> </td>
      <td> <a href="/delete_producto/{{ item.pk }}"style="color:black"><i class="fa fa-eraser" aria-hidden="true"></i>
    Borrar </a> </td>
    </tr>
  {% endfor %}
</tbody>
