{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Pizza Planeta {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }

</style>

<div class="secondary-nav-container container">
  <div class="row">
    <ul class="list-group">

    {% for pizza in pizzas %}
    <li class="col-md-2 list-group-item">
       <img src="{{pizza.imagen.url}}" height="125" width="180">
       <br>
       <br>
       <a href="{% url 'Producto_detalle' pizza.id %}"> <h6> {{pizza.nombre}} </h6> </a>
       <p> {{pizza.descripcion}} </p>
       <hr>
       <p> Desde: $ {{pizza.precio}} </p>
     </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
