{% extends 'base.html'%}
{% load staticfiles %}
{% load custom_tags %}
{% block head_title %} Pastas {% endblock %}
{% block content %}
{% include 'head.html' %}
<style>
  ul.list-group:after {
  clear: both;
  display: block;
  content: "";
  }

  .list-group-item {
    float: left;
    margin: 5px;
    padding: 10px 5px;
  }

  label {
    color: black;
  }
  li {
    color:black;
  }
  input {
    color: black;
  }

  textarea {
    color: black;
  }

  li {
    color:black;
  }

  option {
    color: black;
  }

  select {
    color: black;
  }
  th,td {
    color: black;
  }
  thead {
    color: black;
  }
</style>
<h1> Resultados: </h1>
<div class="row">
  <div class="container">
    <table class="col-xs-2 col-xs-8 col-xs-2 table table-inverse mbr-editable-content" style="width: 100%">
      <thead class="thead-inverse">
        <tr>
          <th> Nombre </th>
          <th> Categoria </th>
          <th> Precio </th>
          <th> Proveedor </th>
          <th> Modificar </th>
          <th> Borrar </th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td> {{ item.nombre}} </td>
          <td> {{ item.categoria }} </td>
          <td> {{ item.precio}} </td>
          <td> {{ item.proveedor }} </td>
          <td> <a href="{{ item.pk }}" style="color:black"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
 Modificar</a> </td>
          <td> <a href="/delete_producto/{{ item.pk }}"style="color:black"><i class="fa fa-eraser" aria-hidden="true"></i>
 Borrar </a> </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% include "space.html" %}
{% endblock %}
